footer.pt-4
    .w-full.px-6.mx-auto
        .flex.flex-wrap.items-center.-mx-3(class='lg:justify-between')
        .w-full.max-w-full.px-3.mt-0.mb-6.shrink-0(class='lg:mb-0 lg:w-1/2 lg:flex-none')
            .leading-normal.text-center.text-sm.text-slate-500(class='lg:text-left')
            | &copy;
            script.
                document.write(new Date().getFullYear() + ",");
            | 2023,
            | made with 
            i.bx.bx-heart(aria-hidden='true')
            |  by
            a.font-semibold.text-slate-700(href='https://www.creative-tim.com', target='_blank') YoDev
            | for a better web.
        .w-full.max-w-full.px-3.mt-0.shrink-0(class='lg:w-1/2 lg:flex-none')
            ul.flex.flex-wrap.justify-center.pl-0.mb-0.list-none(class='lg:justify-end')
                li.nav-item
                    a.block.px-4.pt-0.pb-1.font-normal.transition-colors.ease-in-out.text-sm.text-slate-500(href='https://www.creative-tim.com', target='_blank') Creative Tim
                li.nav-item
                    a.block.px-4.pt-0.pb-1.font-normal.transition-colors.ease-in-out.text-sm.text-slate-500(href='https://www.creative-tim.com/presentation', target='_blank') About Us
                li.nav-item
                    a.block.px-4.pt-0.pb-1.font-normal.transition-colors.ease-in-out.text-sm.text-slate-500(href='https://creative-tim.com/blog', target='_blank') Blog
                li.nav-item
                    a.block.px-4.pt-0.pb-1.pr-0.font-normal.transition-colors.ease-in-out.text-sm.text-slate-500(href='https://www.creative-tim.com/license', target='_blank') License