footer.py-4
    .w-full.px-6.mx-auto
        .flex.flex-wrap.items-center.-mx-3(class='lg:justify-between')
            .w-full.max-w-full.px-3.mt-0.mb-6.shrink-0(class='lg:mb-0 lg:w-1/2 lg:flex-none')
                .leading-normal.text-center.text-sm.text-slate-500(class='lg:text-left')
                | &copy;
                script.
                    document.write(new Date().getFullYear() + ",");
                |   Urban Insights Inc. &mdash;
                a.text-gray-500.ml-1(
                    href="https://twitter.com/_yodev_",
                    target="_blank",
                    rel="noopener noreferrer"
                ) @_yodev_
            .w-full.max-w-full.px-3.mt-0.shrink-0(class='lg:w-1/2 lg:flex-none')
                ul.flex.flex-wrap.justify-center.pl-0.mb-0.list-none(class='lg:justify-end')
                    li.nav-item
                        a.block.px-4.pt-0.pb-1.font-normal.transition-colors.ease-in-out.text-sm.text-slate-500(href='#', target='_blank') Urban Insight Inc.
                    li.nav-item
                        a.block.px-4.pt-0.pb-1.font-normal.transition-colors.ease-in-out.text-sm.text-slate-500(href='#/presentation', target='_blank') About Us
                    li.nav-item
                        a.block.px-4.pt-0.pb-1.font-normal.transition-colors.ease-in-out.text-sm.text-slate-500(href='#', target='_blank') Blog