nav.relative.flex.flex-wrap.items-center.justify-between.px-0.py-2.mx-6.transition-all.ease-in.shadow-none.duration-250.rounded-2xl(class='lg:flex-nowrap lg:justify-start', navbar-main='', navbar-scroll='false')
    .flex.items-center.justify-between.w-full.px-4.py-1.mx-auto.flex-wrap-inherit
        breadcrumb
            ol.flex.flex-wrap.pt-1.mr-12.bg-transparent.rounded-lg(class='sm:mr-16')
                li.leading-normal.text-sm
                    a.text-white.opacity-50(href='#') Pages
                li.text-sm.pl-2.capitalize.leading-normal.text-white(class="before:float-left before:pr-2 before:text-white before:content-['/']", aria-current='page') Dashboard
            h6.mb-0.font-bold.text-white.capitalize Dashboard
        .flex.items-center.mt-2.grow(class='sm:mt-0 sm:mr-6 md:mr-0 lg:flex lg:basis-auto')
            .flex.items-center(class='md:ml-auto md:pr-4')
                .relative.flex.flex-wrap.items-stretch.w-full.transition-all.rounded-lg.ease
                    span.text-sm.ease.absolute.z-50.-ml-px.flex.h-full.items-center.whitespace-nowrap.rounded-lg.rounded-tr-none.rounded-br-none.border.border-r-0.border-transparent.bg-transparent.py-2.text-center.font-normal.text-slate-500.transition-all(class='leading-5.6 px-2.5')
                        i.bx.bx-search-alt(aria-hidden='true')
                    input.pl-9.text-sm.ease.relative.-ml-px.block.min-w-0.flex-auto.rounded-lg.border.border-solid.border-gray-300.bg-white.bg-clip-padding.py-2.pr-3.text-gray-700.transition-all(type='text', class='focus:shadow-primary-outline w-1/100 leading-5.6 placeholder:text-gray-500 focus:border-blue-500 focus:outline-none focus:transition-shadow', placeholder='Type here...')
            ul.flex.flex-row.justify-end.pl-0.mb-0.list-none(class='md-max:w-full')
                li.flex.items-center.pl-4(class='xl:hidden')
                    a.block.p-0.text-white.transition-all.ease-nav-brand.text-sm(href='#', sidenav-trigger='')
                        .overflow-hidden(class='w-4.5')
                            i.ease.relative.block.rounded-sm.bg-white.transition-all(class='mb-0.75 h-0.5')
                            i.ease.relative.block.rounded-sm.bg-white.transition-all(class='mb-0.75 h-0.5')
                            i.ease.relative.block.rounded-sm.bg-white.transition-all(class='h-0.5')
                li.flex.items-center.px-4
                    a.p-0.text-white.transition-all.text-sm.ease-nav-brand(href='#')
                        i.cursor-pointer.bx.bx-cog(fixed-plugin-button-nav='', aria-hidden='true')
                li.relative.flex.items-center.pr-2
                    p.hidden.transform-dropdown-show
                    a.block.p-0.text-white.transition-all.text-sm.ease-nav-brand(href='#', dropdown-trigger='', aria-expanded='false')
                        i.cursor-pointer.bx.bx-bell(aria-hidden='true')
                    ul.text-sm.transform-dropdown.duration-250.min-w-44.pointer-events-none.absolute.right-0.top-0.z-50.origin-top.list-none.rounded-lg.border-0.border-solid.border-transparent.bg-white.bg-clip-padding.px-2.py-4.text-left.text-slate-500.opacity-0.transition-all(dropdown-menu='', class="before:font-awesome before:leading-default before:duration-350 before:ease lg:shadow-3xl before:sm:right-8 before:text-5.5 before:absolute before:right-2 before:left-auto before:top-0 before:z-50 before:inline-block before:font-normal before:text-white before:antialiased before:transition-all before:content-['\f0d8'] sm:-mr-6 lg:absolute lg:right-0 lg:left-auto lg:mt-2 lg:block lg:cursor-pointer")
                        li.relative.mb-2
                            a.ease.clear-both.block.w-full.whitespace-nowrap.rounded-lg.bg-transparent.px-4.duration-300(class='py-1.2 hover:bg-gray-200 hover:text-slate-700 lg:transition-colors', href='#')
                            .flex.py-1
                                .my-auto
                                    img.inline-flex.items-center.justify-center.mr-4.text-white.text-sm.h-9.w-9.max-w-none.rounded-xl(src='../assets/img/team-2.jpg')
                                .flex.flex-col.justify-center
                                    h6.mb-1.font-normal.leading-normal.text-sm
                                        span.font-semibold New message
                                        |  from Laur
                                    p.mb-0.leading-tight.text-xs.text-slate-400
                                        i.mr-1.bx.bx-clock(aria-hidden='true')
                                        | 13 minutes ago
                        li.relative.mb-2
                            a.ease.clear-both.block.w-full.whitespace-nowrap.rounded-lg.px-4.transition-colors.duration-300(class='py-1.2 hover:bg-gray-200 hover:text-slate-700', href='#')
                            .flex.py-1
                                .my-auto
                                    img.inline-flex.items-center.justify-center.mr-4.text-white.text-sm.bg-gradient-to-tl.from-zinc-800.to-zinc-700.h-9.w-9.max-w-none.rounded-xl(src='../assets/img/small-logos/logo-spotify.svg')
                                .flex.flex-col.justify-center
                                    h6.mb-1.font-normal.leading-normal.text-sm
                                        span.font-semibold New album
                                        |  by Travis Scott
                                    p.mb-0.leading-tight.text-xs.text-slate-400
                                        i.mr-1.bx.bx-clock(aria-hidden='true')
                                        | 1 day
                        li.relative
                            a.ease.clear-both.block.w-full.whitespace-nowrap.rounded-lg.px-4.transition-colors.duration-300(class='py-1.2 hover:bg-gray-200 hover:text-slate-700', href='#')
                                .flex.py-1
                                    .inline-flex.items-center.justify-center.my-auto.mr-4.text-white.transition-all.duration-200.ease-nav-brand.text-sm.bg-gradient-to-tl.from-slate-600.to-slate-300.h-9.w-9.rounded-xl
                                        svg(width='12px', height='12px', viewBox='0 0 43 36', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                                            title credit-card
                                            g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                            g(transform='translate(-2169.000000, -745.000000)', fill='#FFFFFF', fill-rule='nonzero')
                                                g(transform='translate(1716.000000, 291.000000)')
                                                g(transform='translate(453.000000, 454.000000)')
                                                    path.color-background(d='M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z', opacity='0.593633743')
                                                    path.color-background(d='M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z')
                                    .flex.flex-col.justify-center
                                        h6.mb-1.font-normal.leading-normal.text-sm Payment successfully completed
                                        p.mb-0.leading-tight.text-xs.text-slate-400
                                            i.mr-1.bx.bx-clock(aria-hidden='true')
                                            | 2 days