sidebar.fixed.inset-y-0.flex-wrap.items-center.justify-between.block.p-0.my-4.overflow-y-auto.antialiased.transition-transform.duration-200.-translate-x-full.bg-white.border-0.shadow-xl.max-w-64.ease-nav-brand.z-990.rounded-2xl.ps(class='xl:ml-6 xl:left-0 xl:translate-x-0', aria-expanded='false')
    .h-19
        i.absolute.top-0.right-0.p-4.opacity-50.cursor-pointer.fas.fa-times.text-slate-400(class='xl:hidden', sidenav-close='', aria-hidden='true')
        a.block.px-8.py-6.m-0.text-sm.whitespace-nowrap.text-slate-700(href='https://demos.creative-tim.com/argon-dashboard-tailwind/pages/dashboard.html', target='_blank')
            img.inline.h-full.max-w-full.transition-all.duration-200.ease-nav-brand.max-h-8(src='/img/brand-logo.png', alt='main_logo')
            span.ml-1.font-semibold.transition-all.duration-200.ease-nav-brand Urban Insight
        hr.h-px.mt-0.bg-transparent.bg-gradient-to-r.from-transparent.to-transparent(class='via-black/40')
    .items-center.block.w-auto.max-h-screen.overflow-auto.h-sidenav.grow.basis-full.ps
        ul.flex.flex-col.pl-0.mb-0
            li.w-full(class='mt-0.5')
                a.text-sm.ease-nav-brand.my-0.mx-2.flex.items-center.whitespace-nowrap.rounded-lg.px-4.font-semibold.text-slate-700.transition-colors(class='py-2.7 bg-blue-500/13', href='/dashboard')
                    .mr-2.flex.h-8.w-8.items-center.justify-center.rounded-lg.bg-center.stroke-0.text-center(class='xl:p-2.5')
                        i.relative.top-0.leading-normal.text-blue-500.ni.ni-tv-2.text-sm
                    span.ml-1.duration-300.opacity-100.pointer-events-none.ease Dashboard
            li.w-full(class='mt-0.5')
                a.text-sm.ease-nav-brand.my-0.mx-2.flex.items-center.whitespace-nowrap.px-4.transition-colors(class='py-2.7', href='/prop-search')
                    .mr-2.flex.h-8.w-8.items-center.justify-center.rounded-lg.bg-center.stroke-0.text-center(class='xl:p-2.5')
                        i.relative.top-0.leading-normal.text-orange-500.ni.ni-calendar-grid-58.text-sm
                    span.ml-1.duration-300.opacity-100.pointer-events-none.ease Tables
            li.w-full(class='mt-0.5')
                a.text-sm.ease-nav-brand.my-0.mx-2.flex.items-center.whitespace-nowrap.px-4.transition-colors(class='py-2.7', href='/billing')
                    .mr-2.flex.h-8.w-8.items-center.justify-center.rounded-lg.bg-center.fill-current.stroke-0.text-center(class='xl:p-2.5')
                        i.relative.top-0.leading-normal.text-emerald-500.text-sm.ni.ni-credit-card
                    span.ml-1.duration-300.opacity-100.pointer-events-none.ease Billing
            li.w-full.mt-4
                h6.pl-6.ml-2.font-bold.leading-tight.uppercase.text-xs.opacity-60 Account pages
            li.w-full(class='mt-0.5')
                a.text-sm.ease-nav-brand.my-0.mx-2.flex.items-center.whitespace-nowrap.px-4.transition-colors(class='py-2.7', href='../pages/profile.html')
                    .mr-2.flex.h-8.w-8.items-center.justify-center.rounded-lg.bg-center.stroke-0.text-center(class='xl:p-2.5')
                        i.relative.top-0.leading-normal.text-slate-700.text-sm.ni.ni-single-02
                    span.ml-1.duration-300.opacity-100.pointer-events-none.ease Profile
            li.w-full(class='mt-0.5')
                a.text-sm.ease-nav-brand.my-0.mx-2.flex.items-center.whitespace-nowrap.px-4.transition-colors(class='py-2.7', href='../pages/sign-in.html')
                    .mr-2.flex.h-8.w-8.items-center.justify-center.rounded-lg.bg-center.stroke-0.text-center(class='xl:p-2.5')
                        i.relative.top-0.leading-normal.text-orange-500.text-sm.ni.ni-single-copy-04
                    span.ml-1.duration-300.opacity-100.pointer-events-none.ease Log Out

    .mx-4
        p.invisible.hidden.text-gray-800.text-red-500.text-red-600.text-blue-500.bg-slate-500.text-emerald-500.text-cyan-500.text-slate-400(class='bg-gray-500/30 bg-cyan-500/30 bg-emerald-500/30 bg-orange-500/30 bg-red-500/30 after:bg-gradient-to-tl after:from-zinc-800 after:to-zinc-700 after:bg-gradient-to-tl after:from-blue-700 after:to-cyan-500 after:bg-gradient-to-tl after:from-orange-500 after:to-yellow-500 after:bg-gradient-to-tl after:from-green-600 after:to-lime-400 after:bg-gradient-to-tl after:from-red-600 after:to-orange-600 after:bg-gradient-to-tl after:from-slate-600 after:to-slate-300')
        .relative.flex.flex-col.min-w-0.break-words.bg-transparent.border-0.shadow-none.rounded-2xl.bg-clip-border(sidenav-card='')
            img.mx-auto(class='w-1/2', src='/img/icon-documentation.svg', alt='sidebar illustrations')
            .flex-auto.w-full.p-4.pt-0.text-center
                .transition-all.duration-200.ease-nav-brand
                    h6.mb-0.text-slate-700 Need help?
                    p.mb-0.font-semibold.leading-tight.text-xsPlease check our docs
        a.inline-block.w-full.px-8.py-2.mb-4.font-bold.leading-normal.text-center.text-white.capitalize.transition-all.ease-in.rounded-lg.shadow-md.bg-slate-700.bg-150.text-xs(href='#', target='_blank', class='hover:shadow-xs hover:-translate-y-px') Documentation