sidebar.fixed.inset-y-0.flex-wrap.items-center.justify-between.block.p-0.my-4.overflow-y-auto.antialiased.transition-transform.duration-200.-translate-x-full.bg-white.border-0.shadow-xl.max-w-64.ease-nav-brand.z-990.rounded-2xl.ps(class='xl:ml-6 xl:left-0 xl:translate-x-0', aria-expanded='false')
    .h-19
        i.absolute.top-0.right-0.p-4.opacity-50.cursor-pointer.fas.fa-times.text-slate-400(class='xl:hidden', sidenav-close='', aria-hidden='true')
        a.block.px-8.py-6.m-0.text-sm.whitespace-nowrap.text-slate-700(href='/', target='_blank')
            img.inline.h-full.max-w-full.transition-all.duration-200.ease-nav-brand.max-h-8(src='/img/brand-logo.png', alt='main_logo')
            span.ml-1.font-semibold.transition-all.duration-200.ease-nav-brand Urban Insight
    hr.h-4.mt-0.bg-transparent(class='via-black/40')
    .items-center.block.w-56.max-h-screen.overflow-auto.h-sidenav.grow.basis-full.ps
        ul.flex.flex-col.pl-0.mb-0
            li.w-full(class='mt-0.5')
                a.text-sm.ease-nav-brand.my-0.mx-2.flex.items-center.whitespace-nowrap.rounded-lg.px-4.font-semibold.text-slate-700.transition-colors(class='py-2.7 bg-blue-500/13', href='/dashboard')
                    .mr-2.flex.h-8.w-8.items-center.justify-center.rounded-lg.bg-center.stroke-0.text-center(class='xl:p-2.5')
                        i.relative.top-0.leading-normal.text-blue-500.bx.bx-desktop.text-sm
                    span.ml-1.duration-300.opacity-100.pointer-events-none.ease Dashboard
            li.w-full(class='mt-0.5')
                a.text-sm.ease-nav-brand.my-0.mx-2.flex.items-center.whitespace-nowrap.px-4.transition-colors(class='py-2.7', href='/prop-search')
                    .mr-2.flex.h-8.w-8.items-center.justify-center.rounded-lg.bg-center.stroke-0.text-center(class='xl:p-2.5')
                        i.relative.top-0.leading-normal.text-orange-500.bx.bx-search.text-sm
                    span.ml-1.duration-300.opacity-100.pointer-events-none.ease Properties Search
            li.w-full(class='mt-0.5')
                a.text-sm.ease-nav-brand.my-0.mx-2.flex.items-center.whitespace-nowrap.px-4.transition-colors(class='py-2.7', href='/billing')
                    .mr-2.flex.h-8.w-8.items-center.justify-center.rounded-lg.bg-center.fill-current.stroke-0.text-center(class='xl:p-2.5')
                        i.relative.top-0.leading-normal.text-emerald-500.bx.bx-coin-stack.text-sm
                    span.ml-1.duration-300.opacity-100.pointer-events-none.ease Billing
            li.w-full.mt-4
                h6.pl-6.ml-2.font-bold.leading-tight.uppercase.text-xs.opacity-60 Account pages
            li.w-full(class='mt-0.5')
                a.text-sm.ease-nav-brand.my-0.mx-2.flex.items-center.whitespace-nowrap.px-4.transition-colors(class='py-2.7', href='/profile')
                    .mr-2.flex.h-8.w-8.items-center.justify-center.rounded-lg.bg-center.stroke-0.text-center(class='xl:p-2.5')
                        i.relative.top-0.leading-normal.text-slate-700.bx.bxs-user.text-sm
                    span.ml-1.duration-300.opacity-100.pointer-events-none.ease Profile
            li.w-full(class='mt-0.5')
                a.text-sm.ease-nav-brand.my-0.mx-2.flex.items-center.whitespace-nowrap.px-4.transition-colors(class='py-2.7', href='#')
                    .mr-2.flex.h-8.w-8.items-center.justify-center.rounded-lg.bg-center.stroke-0.text-center(class='xl:p-2.5')
                        i.relative.top-0.leading-normal.text-red-500.bx.bx-log-out.text-sm
                    span.ml-1.duration-300.opacity-100.pointer-events-none.ease Log Out
