extends ../base

block content
    .container.dash-container.mx-auto.body-font.px-5.py-24
        .spinner-overlay
            .spinner
        h1 Dashboard
        .col-md-6.responsive-margins-images.mls-form
            form.form--mls
                .form__group.relative.my-4.flex
                    input#mls-input(class="relative m-0 -mr-0.5 block w-[1px] min-w-0 flex-auto rounded-l border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary" type='text', placeholder='Zip Code or City, State', required)
                    button(class="relative z-[2] flex items-center rounded-r bg-primary px-6 py-2.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg") 
                        span(class="relative text-base font-semibold text-white") Search
            
        .search-results
            .title.mb-10.text-lg 
                h2 Search: 
                    span.term 90712
            table#home-table.w-full.text-sm.text-left
                thead.text-md.text-main-700.uppercase.bg-main-50 
                    tr 
                        th.px-6.py-3 ZPID 
                        th.px-6.py-3 Address
                        th.px-6.py-3 Beds 
                        th.px-6.py-3 Baths
                        th.px-6.py-3 Price 
                        th.px-6.py-3 Percentile 
                        th.px-6.py-3 Availability
                tbody
                    // table rows will be updated dynamically