extends ../base

block content
    .min-w-screen.min-h-screen.bg-gray-200.flex.items-center.justify-center.px-5.pb-10.pt-16
      .w-full.mx-auto.rounded-lg.bg-white.shadow-lg.p-5.text-gray-700(style='max-width: 600px')
        .w-full.pt-1.pb-5
          .bg-indigo-500.text-white.overflow-hidden.rounded-full.w-20.h-20.-mt-16.mx-auto.shadow-lg.flex.justify-center.items-center
            i.bx.bx-credit-card.text-3xl
        .mb-10
          h1.text-center.font-bold.text-xl.uppercase Secure payment info
        .mb-3.flex.-mx-2
          .px-2
            label.flex.items-center.cursor-pointer(for='type1')
              input#type1.form-radio.h-5.w-5.text-indigo-500(type='radio', name='type', checked='')
              img.h-8.ml-3(src='/img/payment-list.png')
          .px-2
            label.flex.items-center.cursor-pointer(for='type2')
              input#type2.form-radio.h-5.w-5.text-indigo-500(type='radio', name='type')
              img.h-8.ml-3(src='/img/paypal-card.png')
        .mb-3
          label.font-bold.text-sm.mb-2.ml-1 Name on card
          div
            input.w-full.px-3.py-2.mb-1.border-2.border-gray-200.rounded-md.transition-colors(class='focus:outline-none focus:border-indigo-500', placeholder='John Smith', type='text')
        .mb-3
          label.font-bold.text-sm.mb-2.ml-1 Card number
          div
            input.w-full.px-3.py-2.mb-1.border-2.border-gray-200.rounded-md.transition-colors(class='focus:outline-none focus:border-indigo-500', placeholder='0000 0000 0000 0000', type='text')
        .mb-3.-mx-2.flex.items-end
          .px-2(class='w-1/2')
            label.font-bold.text-sm.mb-2.ml-1 Expiration date
            div
              select.form-select.w-full.px-3.py-2.mb-1.border-2.border-gray-200.rounded-md.transition-colors.cursor-pointer(class='focus:outline-none focus:border-indigo-500')
                option(value='01') 01 - January
                option(value='02') 02 - February
                option(value='03') 03 - March
                option(value='04') 04 - April
                option(value='05') 05 - May
                option(value='06') 06 - June
                option(value='07') 07 - July
                option(value='08') 08 - August
                option(value='09') 09 - September
                option(value='10') 10 - October
                option(value='11') 11 - November
                option(value='12') 12 - December
          .px-2(class='w-1/2')
            select.form-select.w-full.px-3.py-2.mb-1.border-2.border-gray-200.rounded-md.transition-colors.cursor-pointer(class='focus:outline-none focus:border-indigo-500')
              option(value='2023') 2023
              option(value='2024') 2024
              option(value='2025') 2025
              option(value='2026') 2026
              option(value='2027') 2027
              option(value='2028') 2028
              option(value='2029') 2029
              option(value='2030') 2030
              option(value='2031') 2031
              option(value='2032') 2032
        .mb-10
          label.font-bold.text-sm.mb-2.ml-1 Security code
          div
            input.w-32.px-3.py-2.mb-1.border-2.border-gray-200.rounded-md.transition-colors(class='focus:outline-none focus:border-indigo-500', placeholder='000', type='text')
        div
          button.block.w-full.max-w-xs.mx-auto.bg-indigo-500.text-white.rounded-lg.px-3.py-3.font-semibold(class='hover:bg-indigo-700 focus:bg-indigo-700')
            i.mdi.mdi-lock-outline.mr-1
            |  PAY NOW