footer.footer
    .footer__logo 
    ul.footer__nav 
        li
            a(href='#') About
        li
            a(href='#')  Careers
        li
            a(href='/#contact-us')  Contact 
    p.footer__copyright &copy; by Good Digital
