footer.footer
    .footer__logo 
    ul.footer__nav 
        li
            a(href='#') About
        li
            a(href='#')  Download app 
        li
            a(href='#')  Become an Instructor
        li
            a(href='#')  Careers
        li
            a(href='#')  Contact 
    p.footer__copyright &copy; by Good Digital
