footer.footer
    .footer__logo 
    ul.footer__nav 
        li
            a(href='#' class="flex items-center space-x-3 transition hover:text-primary") About
        li
            a(href='#' class="flex items-center space-x-3 transition hover:text-primary")  Careers
        li
            a(href='/#contact-us' class="flex items-center space-x-3 transition hover:text-primary")  Contact 
    p.footer__copyright &copy; by Good Digital
