header.header
    .container 
        .brand-logo
            img(src="", alt="brand-logo")
            h3 Nivas

        .links
            ul 
                li 
                    a(href="#") Login 
                li
                    a(href="#") Sign Up 
                li
                    button.toggle-btn
                        i.bx.bx-moon
                        i.bx.bx-sun.hidden
                li
                    a.btn.contact-us-btn(href="#contact-us") Contact
        .overlay 
        
        .hamburger-menu 
            .bar