header.header
    .main-wrapper.light
        header 
            .container 
                .brand-logo
                    img(src="", alt="brand-logo")
                    h3 Nivas

                .links
                    ul 
                        li 
                            a(href="#") Login 
                        li
                            a(href="#") Sign Up 
                        li
                            a.btn(href="#contact-us") Contact
                .overlay 
                
                .hamburger-menu 
                    .bar