extends base

block content
    .showcase-area
        .container
            .left
                .big-title 
                    h1 Empowering your vision through custom development
                
                .text 
                    p Our customizable API help to save time and resources, allowing developers to build powerful applications quickly and efficiently.
                
                .cta
                    a.btn(href="#") Get Started 

            .right
                img.person(src="/img/person-image.jpg", alt="Image of Person") 

    .bottom-area 
        .container
            

    section#about-us
        .container 
            .upper-section
                .info 
                    h3 What we do 
                    p Discover how we can help your business

            .lower-section
                .brand-info 
                    .item.item1 
                        i.bx.bx-heart 
                        h4 Awareness
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore pariatur distinctio soluta inventore
                    .item.item2 
                        i.bx.bx-desktop 
                        h4 Awareness
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore pariatur distinctio soluta inventore
                    .item.item3 
                        i.bx.bx-cog 
                        h4 Awareness
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore pariatur distinctio soluta inventore
    
    section#contact-us
        .container
            .col-md-6.responsive-margins-images.contact-forms
                .section-title
                    h2 Contact Us
                form.form--contact
                    .form__group
                        label.form__label(for='name') Full Name
                        input#name.form__input(type='text', placeholder='Full Name', required)
                    .form__group
                        label.form__label(for='email') Email address
                        input#email.form__input(type='email', placeholder='you@example.com', required)
                    .form__group
                        label.form__label(for='phone') Phone Number
                        input#phone.form__input(type='phone', placeholder='555-555-5555' required)
                    .form__group
                        label.form__label(for='message') Subject
                        textarea#message.form__input(placeholder='Message') 
                    .form__group
                        button.btn.btn--green Send Message
            
            .col-md-6.responsive-bottom-margins.map-container
                .map
                    iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d74962.69416406046!2d-118.02011061897146!3d33.866098504001144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1678709821580!5m2!1sen!2sus", frameborder="0", allowfullscreen="", aria-hidden="false", tabindex="0") 
