extends base

block content
    section#hero-section.pt-32(class='sm:pt-40 md:pt-48')
        .mx-auto.px-4(class='sm:px-12 xl:max-w-6xl xl:px-0')
            .relative
                h1.text-center.text-5xl.font-bold.text-blue-900(class='dark:text-white sm:text-6xl lg:text-left lg:text-7xl')
                    | Design, Build,
                    span.relative
                        svg#Layer_1.absolute.inset-x-0.-bottom-1.w-full.opacity-50(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 260 15.6')
                            style.
                                .st0 {
                                @apply fill-secondaryLight;
                                }
                            path.st0(d='M206.8 7.3l-.1.3c.1-.2.2-.3.1-.3zM234.7 10h-.1c-.2.4-.1.3.1 0zM54.8 4.2l-.6-.4c.2.4.4.5.6.4zM17.1 5.1zM34.5 9.6l.1.3c0-.2 0-.3-.1-.3zM22.4 10.8c-.3-.1-.7-.1-1-.1.2.1.7.1 1 .1zM17.5 5c-.1.1-.2.1-.4.2.2-.1.3-.2.4-.2zM52.7 9.8l.5.9c-.1-.3-.3-.6-.5-.9zM19.5 11.6c-.2-.2-.4-.2-.6-.3 0 .2.3.3.6.3zM120.9 11.4c-.1.1-.2.2-.2.3.3-.1.3-.2.2-.3zM80.9 10.4h-.1s.1.1.2.1l-.1-.1zM92.6 10.4l-.2.2c.2-.1.2-.1.2-.2zM72.1 11.3c-.1.1-.3.2-.4.3l.4-.3z')
                            path.st0(d='M260 6c-1-.6-4.7-1.2-5.8.3-.2-.1.1-.3.2-.4-.9.2-2.2.1-3.6 0s-2.9-.2-4.2 0c-1 1.5-3.9-.6-4.8 1.4l.5-.4c.9.5-1.2 1.4-1.5 1.9-.8-1.2-.1-1-1-2l1.1.4-.3-1c-3.1 2.8-6.2-.9-8.2 1.1.1-.1.1-.3.2-.4-1.4-.5-2.3.8-3.3 1.2-.1-.5.6-.9 1.1-1.3-2.4-.3-6.4 1.2-9 .4-.9.7.4.9-.6 1.5-.8-.2-1.4-.7-.4-1.1-2.3-1.2-7.6 1-11.1-.2-1.8.8-.7 1.1-3.5 1.6.7-.5-.7-1.7 1-1.7l.2-.5c-2.8-.1-6.6-.3-8.1 1.2-.1-1.1-.5-.2-1.6-.8-.4.1 0 .2.2.2-1 .9-1.6-.1-2.3.1l.3-.2-2 .7c-.3-.2-.8-.4-.9-.7v.8c-1.1 0-.5-1-1.9-.8l.3.6c-.9-.4-2.2.4-2.4-.5 0-.2.1-.1.4-.1-1.3-1.2-3.5.3-5.1-.3l.4 1.3c-1.6.4-1-.3-.9-.7-1.1 0-1.3-.4-2.7-.6-.7.3-.4.5-.6.8l-1.5-.4 1-.7c-2.3 1.8-5.6-.4-7.2 1.2-.8-.4.8-.7.3-1-2.6-.9-6 1-8.2 0-3.6-1-7.8-.4-11.8-1.1l.1.3-2.9-.4c-.8.7-2.7.3-4 1.1.1-.3-.1-.7.2-.9-1.2.1-2.6.4-3.3-.1l.4-.3c-2.7-.3-6.4-.5-7.9.1-.9 0-.9-.6-1.1-1-1.6-.1-2.6.2-3.9.7-.3-.2-.7-.3-1-.6l-.6.8c-.6-.1-.1-.7-.6-.9-2.5.9-5.3-.1-7-.1l.2.4c-.7.3-2.1-.3-1.2-.7-3.4-.6-5.1 1.2-9.6.8-.6-1.5-4.1.3-4.8-1.4-1.9.4-3.2-.3-4.5.6 0-.2-.2-.2.1-.3-.8-.6-3.3-.2-5.3.2l-.1-.5c-.9 1.2-4.2.9-4.9 2-.2-.2.4-.5.7-.7-1-1.1-1.8.5-3.1.2.1-.3-.3-.6 0-.8-4.4-1.2-10.6.7-16.3-.1-1.6 0 .6 1.2-1.5 1.1-.6-.6 1-1.1-.3-1.4-.9.7-1.3.5-2.6.5.2-.4 0-.6.9-.9-.7-.5-3.1.9-4.5 0 .1.3-.2.5-.5.7-2.1 1-4.9-.9-5.1-.4 0 0-.7.2-.1.3-.8 0-1.9-.2-1.7-.7-.4.3-.8.8-1.4.8l.3-.6c-.4.1-.8.5-1.1.6l.6.4c-.9-.5-2.6.8-2.6-.4h.3l-1.7-.5c-.7.5-1.3 1-2.5.9-.5-1.3-2.9-.2-4.3-.3l.1-.4c-1.1.6-4 .4-3.5.6-1.1 0-2.6-.2-2-.6-.8.1-2.7.1-3.2.9l-1.8-1c-1 1.6-3.6-.5-3.6 1.2-1-.2-.8-.6-1.5-.9-1.4.9-2.8.8-4.2.7v-.2c-1.4-.1-3.1.8-5.1 1l-.5-1.2c-1 .2-1.3 1.2-2.3 1-.2-.2 0-.3.2-.3-1 .3-2.3.1-3.1-.2-1.5 1-2.7.7-3.9 1.8-1.3-1 1.7-.6.6-1.6-2.2-.4-4.4.4-6.7 1.1-.2-.2 0-.4.1-.7 0 0-1.2.9-2.2 1.8C.9 8.3 0 9.4.5 10c-.5.9-1.2 1.4.9 2 .6-.5 2.5-1.3 2.9-.4l.1-.9c2.6-.6.4 1.8 3.6 1.6l-.7-.3c.6-.1 1.1-.7 1.8-.5.2.2-.2.4-.5.6.9-.5 1.7-.9 2.6-1.4.1.5.1.8-.4 1.2 2.5-.2-.6-1.6 2.4-1.4.6.4-.2.6-.5.9 1.4.7 2.3-.1 3.8-.6.1.8-.9.7.3 1.2-.3-.4-.5-1.1.5-1.2-.4.8.7.4 1.6.5-.2-.3-.1-.6.2-.8.4-.1.8.1 1.4.1l-1.1-.7c1.5-.8 2.4.3 3.6.6-.1.1-.3.3-.5.3 1.2.3 2.5.9 4.1.1l-.3.1c2.9-.9-1-1.3 2.4-2.2 1.1.1-.4 2.6 2.1 1.6-1.3-.6 1.6-1.7 3.1-2L32.4 10c.6 0 1.6-.5 2-.3l-.1-.3c-.2-1.3 1.9.1 3-.7-1.3 1.8-1.4 1.5-1.6 3.2 1-1 2.2-1.9 4.1-1.8l-1.5 1.4c2.5.2 5.5-1.9 7.6-3-.5 1 .3 1.4-.6 2.2l2.4-.3-.7 1.1c1-1.2 2.1-.4 1.9-1.9-.3.2-.2.4-.7.3.1-.4.5-1.4 1.7-1.3.9.3-.5.6-.2 1 .8-.6.9.3 1.7-.1l-.8-.6c.6-.9 1.4-.1 2.2-.5-1 .4-.7.9-.3 1.4l-.1-.1c.8-.1 1.6-.7 2-.2l-.5 1.2.9-.9c.3.1.6.6 0 .8 2.8.7-.1-2.5 3.6-1.5 0 .5-.4.8-1.4.5-.2.7.1 1.1 1.1 1.4v.1c1.9 0 4.4 0 5.6-.8.4.3 0 .6-.4.9 2.1.4 2.8-.7 5 .1l-1-.4c1.4-.6 4-.8 5.3.1l-.4.3c1.3-.7 3.5.6 4 0-.6-.4 0-.6-.8-1l3.4-.7.2 1.2 1.8-.4c-.4-.5 2.4.4 2.5-.7 1 .4-.4.9-.8 1.4 1-.3 1.1.2 2.1-.5l1 1.1 2.6-.7c-.1.1 0 .2-.1.3 1.2-.9 3.1.6 4.6-.9-.1.1-.1.1-.1.2.9-.8 2.9-.2 3.7 0 1.4-.2.6-1 .6-1.4 3.9.4 2.7.3 6-.9 2 1.4-2.4 2.1.1 3 .4-.6 2.1-1.1 4.1-1.3 1.8.5 4.8.9 6.5 1.9l-.2-.9 2.6-.4-1.5 1.2c.4-.3 1.7-.8 2.6-1.2 2.7-.7 1.4 1.9 3.5.7.1.1.1.2.2.3.7-.6 2.4-.3 4.4-.5l-.7 1.1-1.3-.3c.7 1.1 2.1-.1 3.4 0 1.3-.3.7-1.3 1.4-1.6.5.1 1.2-.2 1.6.1 1.1.4.1 1.3-.3 1.8 1-1.1 1.4-.9 3.6-1.3.1.5-.1.8-.4.9.5-.1.9-.3 1.2-.8l.7.7c2.5 1 2.6-2 5.6-1.5-.8.6 2.6 0 3.5.7-1.1.1.4 1.6-.2 2.3 2.4.5 1-1.3 3-1.4l-.9 1.3c1.9-.5.5-.7 2.4-1.1-.5.4.8.4-.3.8 2.5.2 1.9.1 4.1.3l.2-1.3c.7-.1 1 .5 1.2.7-.3 0-.8-.1-.7.1.8 1.2 1.4-.6 2.4.5-.2-.4-.5-1 .4-1.1-.3.8 1.4.8 1.4 1.2-.6-.6 2-.2 2.1-1 1 .7-.4.6-.4 1.1.9-1 3.7 0 4.6-.6 0 .1.1.1.1.2 1.2-.6 3-.7 5.3-1.5l-.8.7c2.2.4 1.4-1.5 3.3-1.5-.4 1.1 3.1 0 2.2 1.2 1.1-.6 2.3-.8 3.1-1.7 1 .6-2.1 1.4-.6 1.8l1.6-.5.3.6c.1-.4 1.5-.4 1.4-.8.2.7.9 1.2.8 1.8 1-.2 2.4.5 3.3-.1l.1.3c1-1.3 3.1-.2 3.6-1.5l.6.7c1.5-.1 1.3-1.5 2-1.8.6 0 1.4-.2 2 0-2 .8 1 1.1 1.4 1.6.8 0 3.1 0 3.7-.7-1 .7-.4 1.2-2.1 1.3.9 1.3 2.6-.2 4.5-.1v.6c2.7-.4 2.8-1.5 4-2.5.3.8.1 1-.7 1.7 1.8.5 4.7-.1 6.7 0 .6.5.2.9-.5 1.1 2.1-.6 4.7.1 6-1.2-.5.5.9.3 1.6.6 0-.3.1-.6.2-.6 1.3-.6 4.1-1.1 5.6-.7l-.5.4c1.7.1 3-.5 4.3-.9 1.3-.4 2.6-.8 4.5-.4.7.3-.7 1.1.7 1 .7-.5.4-1.5 2.2-1.3l-.1.9 1.2-.9c-.7-.7-2.6-.4-1.3-1.2 1.6.8 1.3-.9 3.3 0-.4.1-1 .8-1.3 1.2 2 .4 3.4.1 4.8-.1 1.4-.3 2.8-.6 4.9-.2 2-.8 4.6-1.2 5.9-1.9 0 .9 0 1.7-.8 2.4 1.8 0 2.4-2.1 3.7-.9.7-1.3 4.7-1.2 5-3l2-.8z')
                            path.st0(d='M58.1 11.1c-1 0-1.9 0-2.3.2.2.2 2.3.6 2.3-.2zM208.2 13.3c-.1 0-.3.1-.4.1.1 0 .3 0 .4-.1zM216.3 12.9c-.1-.1-.2-.2-.4-.3 0 .3.1.5.4.3zM132.6 11.5zM178.5 13.7c.7-.4 1-.7 1-1-.4.1-.7.3-1 1zM163 12.6c-.1.1-.2.1-.3.2.3-.1.3-.2.3-.2zM130.2 12c.7-.4 1.6-.3 2.4-.5-.7.2-1.9-.3-2.4.5zM226.1 11.4l-.7.6.8-.4zM218.6 12c-.3-.1-1.7.3-1.3.6.4-.3.9-.5 1.3-.6zM189.6 11.4l-.3.6.7-.5z')
                        span.relative.bg-gradient-to-r.from-primary.to-secondaryLight.bg-clip-text.text-transparent(class='dark:from-primaryLight dark:to-secondaryLight md:px-2') Scale
                .relative.items-center.gap-12(class='lg:flex')
                    .text-center(class='sm:mx-auto sm:w-11/12 md:mt-12 md:w-4/5 lg:mt-0 lg:mr-auto lg:w-6/12 lg:text-left')
                        p.mt-12.text-lg.text-gray-600(class='dark:text-gray-300 sm:text-xl')
                        | Computers used to be magical. But much of that magic has been lost over time, replaced by subpar tools and practices that slow teams down and hold great work back.
                        form.mt-12(action='')
                            .relative.flex.items-center.rounded-full.border.bg-white.p-1.px-2.shadow-md(class='border-primary/20 focus-within:ring-2 dark:border-white/10 dark:bg-dark dark:text-white md:p-2 lg:pr-3')
                                .py-3.pl-4(class='lg:pl-5')
                                    svg.m-auto.h-6.w-6.fill-gray-500(xmlns='http://www.w3.org/2000/svg' class='dark:fill-gray-400' viewbox='0 0 20 20' fill='currentColor')
                                        path(d='M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z')
                                        path(d='M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z')
                                input.w-full.rounded-full.bg-transparent.p-4.placeholder-gray-600.outline-none(aria-label='your email' autocomplete='email' placeholder='Your mail address' class='dark:placeholder-white' type='email')
                                div(class='md:pr-1.5 lg:pr-0')
                                    button.relative.ml-auto.h-12.w-16(type='submit' title='Start buying' class='before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 active:duration-75 active:before:scale-95 dark:before:bg-primaryLight sm:w-auto sm:px-6')
                                        span.relative.hidden.w-max.font-semibold.text-white(class='dark:text-gray-900 md:block')  Get Started 
                                        svg.relative.mx-auto.h-6.w-6.text-white(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' fill='currentColor' class='dark:text-gray-900 md:hidden')
                                        path(d='M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z')
                    .mt-12.w-full.overflow-hidden(class='sm:mt-20 lg:-mt-8 lg:w-6/12')
                        img.w-full(src='./images/team.svg' alt='team illustration' height='600' width='800')

                //Trusted
                .mt-12.border-y.border-gray-100.py-8.text-center(class='dark:border-gray-800 md:py-12 xl:mt-20')
                    a.text-sm.font-semibold.tracking-wider.text-gray-800(href='customers.html' class='dark:text-white') TRUSTED BY YOUR FAVORED TOP TECHS COMPANIES
                    .mt-8.flex.flex-wrap.justify-center.gap-6.brightness-75.contrast-200.grayscale(class='dark:brightness-200 dark:contrast-0 sm:justify-between lg:gap-24')
                        img.h-8.w-auto(class='lg:h-10 lg:w-auto' src='images/clients/airbnb.svg' loading='lazy' alt='airbnb' width='' height='')
                        img.h-8.w-auto(class='lg:h-10 lg:w-auto' src='images/clients/coty.svg' loading='lazy' alt='bissell' width='' height='')
                        img.h-8.w-auto(class='lg:h-10 lg:w-auto' src='images/clients/ge.svg' loading='lazy' alt='ge' width='100' height='100')
                        img.h-8.w-auto(class='lg:h-10 lg:w-auto' src='images/clients/lilly.png' loading='lazy' alt='lilly' width='' height='')
                        img.h-8.w-auto(class='lg:h-10 lg:w-auto' src='images/clients/microsoft.svg' loading='lazy' alt='microsoft' width='' height='')

            
    section.mt-32
        .mx-auto.px-4(class='sm:px-12 xl:max-w-6xl xl:px-0')
            .text-center
                h2.text-3xl.font-bold.text-gray-800(class='dark:text-white md:text-4xl xl:text-5xl') For growing teams and organizations
                p.mx-auto.mt-6.text-gray-700(class='dark:text-gray-300 md:w-3/4 lg:w-3/5')
                    | A growing team doesn&apos;t need to mean growing pains. Privacy, and the right tool for every step of your journey - Jira Software friction - company size.
                .relative.mx-auto.mt-12.grid.h-12.w-auto.grid-cols-3.items-center.gap-x-1.overflow-hidden.rounded-full.border.border-gray-200.bg-gray-100.text-gray-600(role='tablist' aria-label='tabs' class='px-[3px] dark:border-gray-700 dark:border-opacity-60 dark:bg-darker dark:text-gray-300 dark:shadow-none sm:w-max')
                    .tab-indicator.absolute.h-10.rounded-full.bg-white.shadow-md.duration-500(class='transition-[left] dark:bg-gray-800' style='left: 4px; width:113.703px;')
                    button.tab.relative.block.rounded-full.px-4(role='tab' aria-selected='true' aria-controls='panel-0' tabindex='0' title='tab item' class='py-2.5 hover:text-primary dark:hover:text-primaryLight')
                        span.m-auto.block.w-max.text-sm.font-medium.tracking-wider First Tab
                    button.tab.relative.block.rounded-full.px-4(role='tab' aria-selected='false' aria-controls='panel-1' tabindex='-1' title='tab item' class='py-2.5 hover:text-primary dark:hover:text-primaryLight')
                        span.m-auto.block.w-max.text-sm.font-medium.tracking-wider Second Tab
                    button.tab.relative.block.rounded-full.px-4(role='tab' aria-selected='false' aria-controls='panel-2' tabindex='-1' title='tab item' class='py-2.5 hover:text-primary dark:hover:text-primaryLight')
                        span.m-auto.block.w-max.text-sm.font-medium.tracking-wider Third Tab
            .mt-20
                .gap-6.space-y-12(class='md:flex md:space-y-0')
                    .relative(class='md:w-1/2')
                        #panel-0.panel.visible.inset-0.flex.scale-100.flex-col.justify-center.opacity-100.transition.duration-500(class='md:absolute')
                            div
                                h3.text-2xl.font-bold.text-gray-900(class='dark:text-white md:text-3xl') Make work flow across teams while connecting back to company goals
                                p.mt-8.text-gray-600(class='dark:text-gray-300')
                                | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum omnis voluptatem accusantium nemo perspiciatis delectus atque autem! repellat expedita consequatur! Officiis id consequatur atque doloremque!
                                .mt-12.space-y-6
                                    .flex.items-center.gap-6
                                        .flex.h-20.w-20.rounded-3xl.border.border-gray-200.bg-white.p-4(class='dark:border-gray-600/60 dark:bg-gray-900/40')
                                            img.m-auto.h-8.w-auto(src='https://cdn-icons-png.flaticon.com/512/4727/4727266.png' alt='icon illustration' loading='lazy' width='512' height='512')
                                        div(class='w-[calc(100%-7.5rem)]')
                                            h4.text-lg.font-semibold.text-gray-800(class='dark:text-white') Together as one
                                            p.mt-1.text-gray-600(class='dark:text-gray-400') Accusantium nemo perspiciatis delectus atque autem!
                                    .flex.items-center.gap-6
                                        .flex.h-20.w-20.rounded-3xl.border.border-gray-200.bg-white.p-4(class='dark:border-gray-600/60 dark:bg-gray-900/40')
                                            img.m-auto.h-8.w-auto(src='https://cdn-icons-png.flaticon.com/512/584/584796.png' alt='icon illustration' loading='lazy' width='512' height='512')
                                        div(class='w-[calc(100%-7.5rem)]')
                                            h4.text-lg.font-semibold.text-gray-800(class='dark:text-white') New ideas
                                            p.mt-1.text-gray-600(class='dark:text-gray-400') Accusalectus atque autem accusantium nemo perspiciatis delectus atque autem!
                        #panel-1.panel.invisible.absolute.inset-0.flex.scale-90.flex-col.justify-center.opacity-0.transition.duration-500
                            div
                                h3.text-2xl.font-bold.text-gray-900(class='dark:text-white md:text-3xl') Make work flow across teams while connecting back to company goals
                                p.mt-8.text-gray-600(class='dark:text-gray-300')
                                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum omnis voluptatem accusantium nemo perspiciatis delectus atque autem! repellat expedita consequatur! Officiis id consequatur atque doloremque!
                                .mt-12.space-y-6
                                    .flex.items-center.gap-6
                                        .flex.h-20.w-20.rounded-3xl.border.border-gray-200.bg-white.p-4(class='dark:border-gray-600/60 dark:bg-gray-900/40')
                                            img.m-auto.h-8.w-auto(src='https://cdn-icons-png.flaticon.com/512/6106/6106288.png' alt='icon illustration' loading='lazy' width='512' height='512')
                                        div(class='w-[calc(100%-7.5rem)]')
                                            h4.text-lg.font-semibold.text-gray-800(class='dark:text-white') Together as one
                                            p.mt-1.text-gray-600(class='dark:text-gray-400') Accusantium nemo perspiciatis delectus atque autem!
                                    .flex.items-center.gap-6
                                        .flex.h-20.w-20.rounded-3xl.border.border-gray-200.bg-white.p-4(class='dark:border-gray-600/60 dark:bg-gray-900/40')
                                            img.m-auto.h-8.w-auto(src='https://cdn-icons-png.flaticon.com/512/2313/2313906.png' alt='icon illustration' loading='lazy' width='512' height='512')
                                        div(class='w-[calc(100%-7.5rem)]')
                                            h4.text-lg.font-semibold.text-gray-800(class='dark:text-white') New ideas
                                            p.mt-1.text-gray-600(class='dark:text-gray-400') Accusalectus atque autem accusantium nemo perspiciatis delectus atque autem!
                        #panel-2.panel.invisible.absolute.inset-0.flex.scale-90.flex-col.justify-center.opacity-0.transition.duration-500
                            div
                                h3.text-2xl.font-bold.text-gray-900(class='dark:text-white md:text-3xl') Make work flow across teams while connecting back to company goals
                                p.mt-8.text-gray-600(class='dark:text-gray-300')
                                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum omnis voluptatem accusantium nemo perspiciatis delectus atque autem! repellat expedita consequatur! Officiis id consequatur atque doloremque!
                                .mt-12.space-y-6
                                    .flex.items-center.gap-6
                                        .flex.h-20.w-20.rounded-3xl.border.border-gray-200.bg-white.p-4(class='dark:border-gray-600/60 dark:bg-gray-900/40')
                                            img.m-auto.h-8.w-auto(src='https://cdn-icons-png.flaticon.com/512/3340/3340200.png' alt='icon illustration' loading='lazy' width='512' height='512')
                                        div(class='w-[calc(100%-7.5rem)]')
                                            h4.text-lg.font-semibold.text-gray-800(class='dark:text-white') Together as one
                                            p.mt-1.text-gray-600(class='dark:text-gray-400') Accusantium nemo perspiciatis delectus atque autem!
                                    .flex.items-center.gap-6
                                        .flex.h-20.w-20.rounded-3xl.border.border-gray-200.bg-white.p-4(class='dark:border-gray-600/60 dark:bg-gray-900/40')
                                            img.m-auto.h-8.w-auto(src='https://cdn-icons-png.flaticon.com/512/5405/5405929.png' alt='icon illustration' loading='lazy' width='512' height='512')
                                        div(class='w-[calc(100%-7.5rem)]')
                                            h4.text-lg.font-semibold.text-gray-800(class='dark:text-white') Growth
                                            p.mt-1.text-gray-600(class='dark:text-gray-400') Accusalectus atque autem accusantium nemo perspiciatis delectus atque autem!
                    .-m-4.overflow-hidden.p-4(class='sm:-mx-12 sm:px-12 md:mx-0 md:w-1/2 md:overflow-visible md:px-0')
                        .relative.bg-gray-100(class='before:absolute before:inset-0 before:scale-x-110 before:border-y before:border-gray-200 after:absolute after:inset-0 after:scale-y-110 after:border-x after:border-gray-200 dark:bg-gray-800 dark:before:border-gray-700 dark:after:border-gray-700')
                            .relative.h-96.overflow-clip.py-10(class='sm:h-[32rem] lg:p-20')
                                .panel-preview.absolute.inset-0.z-10.flex.translate-y-0.scale-100.items-end.overflow-hidden.px-6.opacity-100.transition.duration-500(data-target='panel-0' class='sm:px-10')
                                    img.mx-auto.h-80.w-96.rounded-t-3xl.border.object-cover.object-top.shadow-2xl(src='./images/screenshots/tailus-home.webp' class='dark:border-transparent sm:h-[28rem]' alt='tailus screenshot' width='850' height='1780')
                                .panel-preview.absolute.inset-0.z-0.flex.scale-100.items-end.overflow-hidden.px-6.opacity-50.transition.duration-500(data-target='panel-1' class='translate-y-[100%] sm:px-10')
                                    img.mx-auto.h-80.w-96.rounded-t-3xl.border.object-cover.object-top.shadow-2xl(src='./images/screenshots/tailus-home-dark.webp' class='dark:border-transparent sm:h-[28rem]' alt='tailus screenshot dark-mode' width='850' height='1780')
                                .panel-preview.absolute.inset-0.z-0.flex.scale-100.items-end.overflow-hidden.px-6.opacity-50.transition.duration-500(data-target='panel-2' class='translate-y-[100%] sm:px-10')
                                    img.mx-auto.h-80.w-96.rounded-t-3xl.border.object-cover.object-top.shadow-2xl(src='./images/screenshots/tailus-contact.webp' class='dark:border-transparent sm:h-[28rem]' alt='tailus contact screenshot' width='850' height='1780')


    section.mt-32
        .mx-auto.px-4(class='sm:px-12 xl:max-w-6xl xl:px-0')
            .space-y-6(class='md:flex lg:items-center lg:gap-6 lg:space-y-0')
                div(class='md:5/12 lg:w-6/12')
                    img(class='md:-ml-8' src='./images/stats-login.webp' alt='tailus stats and login components' loading='lazy' width='1779' height='1592')
                div(class='md:7/12 lg:w-6/12')
                    h2.text-3xl.font-bold.text-gray-800(class='dark:text-white md:text-4xl xl:text-5xl') Development is carried out by passionate developers
                    p.mt-8.text-gray-600(class='dark:text-gray-300')
                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum omnis voluptatem accusantium nemo perspiciatis delectus atque autem! repellat expedita consequatur! Officiis id consequatur atque doloremque!
                    p.mb-12.mt-4.text-gray-600(class='dark:text-gray-300')
                    | Nobis minus voluptatibus pariatur dignissimos libero quaerat iure expedita at? Asperiores nemo possimus nesciunt dicta veniam aspernatur quam mollitia.
                    a.relative.flex.h-11.w-max.items-center.justify-center.px-6(href='./pages/contact.html' class='before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition-transform before:duration-300 active:duration-75 active:before:scale-95 dark:before:bg-primaryLight')
                        span.relative.text-base.font-semibold.text-white(class='dark:text-gray-900') Get started

    section.relative.py-32
        .absolute.inset-0.top-60.grid.grid-cols-2.-space-x-52.opacity-50(aria-hidden='true' class='dark:opacity-30')
            .h-60.bg-gradient-to-br.from-primary.to-purple-400(class='blur-[106px] dark:from-blue-700')
            .h-40.bg-gradient-to-r.from-cyan-400.to-sky-300(class='blur-[106px] dark:to-indigo-600')
        .relative.mx-auto.px-4(class='sm:px-12 xl:max-w-6xl xl:px-0')
            .text-center
                h2.text-3xl.font-bold.text-gray-800(class='dark:text-white md:text-4xl xl:text-5xl') A technology-first approach
                p.mx-auto.mt-6.text-gray-700(class='dark:text-gray-300 md:w-3/4 lg:w-3/5')
                | A growing team doesn&apos;t need to mean growing pains. Privacy, and the right tool for every step of your journey - Jira Software friction - company size.
            .mt-16.grid.gap-8(class='sm:mx-auto sm:w-2/3 md:w-full md:grid-cols-2 lg:grid-cols-3')
                .rounded-3xl.border.border-gray-100.bg-white.p-8.py-12.shadow-2xl(class='shadow-gray-600/10 dark:border-gray-700 dark:bg-gray-800 dark:shadow-none sm:p-12')
                    .space-y-12.text-center
                        img.mx-auto.h-14.w-auto(src='https://cdn-icons-png.flaticon.com/512/584/584796.png' width='512' height='512' alt='burger illustration')
                        .space-y-6
                            h3.text-2xl.font-semibold.text-gray-800.transition(class='dark:text-white') First feature
                            p.text-gray-600(class='dark:text-gray-300')
                                | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe nesciunt neque culpa hic illum ab qui error repellendus asperiores unde ut ipsam perferendis nemo fuga cum, eum consectetur, magnam doloremque!
                            a.group.relative.mx-auto.flex.h-12.w-12.items-center.justify-center(aria-label='read more' href='#' class='before:absolute before:inset-0 before:rounded-full before:border before:border-gray-200 before:bg-gray-50 before:bg-gradient-to-b before:transition-transform before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800')
                                svg.relative.h-5.w-5.text-gray-600.transition.duration-300(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' fill='currentColor' class='group-hover:translate-x-1 dark:text-white')
                                    path(fill-rule='evenodd' d='M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z' clip-rule='evenodd')
                .rounded-3xl.border.border-gray-100.bg-white.p-8.py-12.shadow-2xl(class='shadow-gray-600/10 dark:border-gray-700 dark:bg-gray-800 dark:shadow-none sm:p-12')
                    .space-y-12.text-center
                        img.mx-auto.h-14.w-auto(src='https://cdn-icons-png.flaticon.com/512/6106/6106288.png' width='512' height='512' alt='burger illustration')
                        .space-y-6
                            h3.text-2xl.font-semibold.text-gray-800.transition(class='dark:text-white') Second feature
                            p.text-gray-600(class='dark:text-gray-300')
                                | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe nesciunt neque culpa hic illum ab qui error repellendus asperiores unde ut ipsam perferendis nemo fuga cum, eum consectetur, magnam doloremque!
                            a.group.relative.mx-auto.flex.h-12.w-12.items-center.justify-center(aria-label='read more' href='#' class='before:absolute before:inset-0 before:rounded-full before:border before:border-gray-200 before:bg-gray-50 before:bg-gradient-to-b before:transition-transform before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800')
                                svg.relative.h-5.w-5.text-gray-600.transition.duration-300(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' fill='currentColor' class='group-hover:translate-x-1 dark:text-white')
                                    path(fill-rule='evenodd' d='M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z' clip-rule='evenodd')
                .rounded-3xl.border.border-gray-100.bg-white.p-8.py-12.shadow-2xl(class='shadow-gray-600/10 dark:border-gray-700 dark:bg-gray-800 dark:shadow-none sm:p-12')
                    .space-y-12.text-center
                        img.mx-auto.h-14.w-auto(src='https://cdn-icons-png.flaticon.com/512/4727/4727266.png' width='512' height='512' alt='burger illustration')
                        .space-y-6
                            h3.text-2xl.font-semibold.text-gray-800.transition(class='dark:text-white') Third feature
                            p.text-gray-600(class='dark:text-gray-300')
                                | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe nesciunt neque culpa hic illum ab qui error repellendus asperiores unde ut ipsam perferendis nemo fuga cum, eum consectetur, magnam doloremque!
                            a.group.relative.mx-auto.flex.h-12.w-12.items-center.justify-center(aria-label='read more' href='#' class='before:absolute before:inset-0 before:rounded-full before:border before:border-gray-200 before:bg-gray-50 before:bg-gradient-to-b before:transition-transform before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800')
                                svg.relative.h-5.w-5.text-gray-600.transition.duration-300(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' fill='currentColor' class='group-hover:translate-x-1 dark:text-white')
                                    path(fill-rule='evenodd' d='M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z' clip-rule='evenodd')

    section.mb-32
        .mx-auto.px-4(class='sm:px-12 xl:max-w-6xl xl:px-0')
            .text-center
                h2.text-3xl.font-bold.text-gray-800(class='dark:text-white md:text-4xl xl:text-5xl') Trusted by leaders
                p.mx-auto.mt-6.text-gray-700(class='dark:text-gray-300 md:w-3/4 lg:w-3/5')
                | A growing team doesn&apos;t need to mean growing pains. Privacy, and the right tool for every step of your journey - Jira Software friction - company size.
            .mt-12.grid.gap-8(class='md:grid-cols-2')
                .rounded-3xl.border.border-gray-100.bg-white.p-8.shadow-2xl(class='shadow-gray-600/10 dark:border-gray-700 dark:bg-gray-800 dark:shadow-none sm:col-span-2 sm:px-12 lg:col-span-1 lg:row-span-2')
                    .flex.h-full.flex-col.justify-center.space-y-6(class='md:space-y-8')
                        img.mr-auto.h-12.w-auto(src='images/clients/microsoft.svg' loading='lazy' alt='microsoft')
                        p.text-gray-600(class='dark:text-gray-300 md:text-lg lg:text-xl')
                            span.font-serif &quot;
                            |  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat repellat perspiciatis excepturi est. Non ipsum iusto aliquam consequatur repellat provident, omnis ut, sapiente voluptates veritatis cum deleniti repudiandae ad doloribus. 
                            br
                            br
                            |   Esse, sint sit aut ducimus ea ipsam velit saepe earum dolorem, dignissimos minima voluptate quo accusamus corporis, quaerat beatae aliquid. Impedit, accusamus. 
                            span.font-serif &quot;
                        .flex.items-center.gap-3
                            img.h-12.w-12.rounded-full(src='./images/avatars/avatar-2.webp' loading='lazy' alt='user avatar' width='200' height='200')
                            div
                                h3.text-lg.font-semibold.leading-none.text-gray-600(class='dark:text-gray-200') Andy Doe
                                span.text-sm.text-gray-500(class='dark:text-gray-400') Product Designer
                .space-y-6.rounded-3xl.border.border-gray-100.bg-white.p-8.shadow-2xl(class='shadow-gray-600/10 dark:border-gray-700 dark:bg-gray-800 dark:shadow-none')
                    img.h-12.w-auto(src='images/clients/airbnb.svg' loading='lazy' alt='airbnb' width='' height='')
                    p.text-gray-600(class='dark:text-gray-300')
                        span.font-serif &quot;
                        | Sit amet consectetur adipisicing elit. Quaerat repellat perspiciatis excepturi est. Provident, omnis ut, sapiente veritatis cum deleniti repudiandae ad doloribus. 
                        span.font-serif &quot;
                    .flex.items-center.gap-3.text-left
                        img.h-12.w-12.rounded-full(src='./images/avatars/avatar-3.webp' alt='user avatar' width='200' height='200' loading='lazy')
                        div
                            h3.text-lg.font-semibold.leading-none.text-gray-600(class='dark:text-gray-200') Janet Doe
                            span.text-sm.text-gray-500(class='dark:text-gray-400') UX Designer
                .space-y-6.rounded-3xl.border.border-gray-100.bg-white.p-8.shadow-2xl(class='shadow-gray-600/10 dark:border-gray-700 dark:bg-gray-800 dark:shadow-none')
                    img.h-12.w-auto(src='images/clients/ge.svg' loading='lazy' alt='ge')
                    p.text-gray-600(class='dark:text-gray-300')
                        span.font-serif &quot;
                        | Sit amet consectetur adipisicing elit. Quaerat repellat perspiciatis excepturi est. Provident, omnis ut, sapiente veritatis cum deleniti repudiandae ad doloribus. 
                        span.font-serif &quot;
                    .flex.items-center.gap-3.text-left
                        img.h-12.w-12.rounded-full(src='./images/avatars/avatar-4.webp' alt='user avatar' width='200' height='200' loading='lazy')
                        div
                            h3.text-lg.font-semibold.leading-none.text-gray-600(class='dark:text-gray-200') John Doe
                            span.text-sm.text-gray-500(class='dark:text-gray-400') Product Designer

    section.relative(class='before:absolute before:inset-0 before:h-px before:w-96 before:bg-gradient-to-r before:from-yellow-300 before:via-pink-400 before:to-transparent after:absolute after:inset-0 after:ml-auto after:mt-auto after:h-px after:w-96 after:bg-gradient-to-l after:from-yellow-300 after:via-pink-400 after:to-transparent')
        .border-y.border-gray-200.bg-gray-100(class='dark:border-gray-700 dark:bg-darker')
            .relative.mx-auto.px-6(class='md:max-w-full md:px-12 lg:max-w-6xl xl:px-0')
                .items-end.justify-between(class='md:flex')
                    .h-max.py-16(class='md:w-6/12 xl:w-5/12')
                        .text-center(class='md:text-left')
                            h2.text-3xl.font-bold.text-gray-800(class='dark:text-white md:w-max md:text-4xl xl:text-5xl')
                                | One step to improve 
                                br
                                |   your workflow
                            p.mb-8.mt-6.text-gray-600(class='dark:text-gray-300')
                                | Praesentium, atque exercitationem dolorum, iste libero eaque animi illum magnam velit iusto quidem omnis quas! Ad expedita quaerat.
                            form.mt-12(action='')
                                .relative.flex.items-center.rounded-full.border.bg-white.p-1.px-2.shadow-md(class='border-primary/20 dark:border-white/10 dark:bg-dark md:p-2 lg:pr-3')
                                    .py-3.pl-4(class='lg:pl-5')
                                        svg.m-auto.h-6.w-6.fill-gray-500(xmlns='http://www.w3.org/2000/svg' class='dark:fill-gray-400' viewbox='0 0 20 20' fill='currentColor')
                                            path(d='M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z')
                                            path(d='M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z')
                                    input.w-full.rounded-full.bg-transparent.p-4.placeholder-gray-600(autocomplete='email' aria-label='your email' placeholder='Your mail address' class='dark:placeholder-white' type='email')
                                    div(class='md:pr-1.5 lg:pr-0')
                                        button.relative.ml-auto.h-12.w-16(type='button' title='Start buying' class='before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 active:duration-75 active:before:scale-95 dark:before:bg-primaryLight sm:w-auto sm:px-6')
                                            span.relative.hidden.w-max.font-semibold.text-white(class='dark:text-gray-900 md:block')  Get Started 
                                            svg.relative.mx-auto.h-6.w-6.text-white(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' fill='currentColor' class='dark:text-gray-900 md:hidden')
                                                path(d='M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z')
                    div(class='md:w-[42%] lg:w-1/2')
                        img(src='./../images/cta-cards.webp' alt='tailus stat cards components' loading='lazy' width='1299' height='678')
