extends base

block content
    section#hero-section(class="relative lg:h-screen h-auto body-font text-gray-700 dark:text-white")
        div(class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20")
            div(class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700")
            div(class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600")
        div(class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6")
            div(class="relative pt-36 ml-auto")
                div(class="lg:w-2/3 text-center mx-auto")
                    h1(class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl") Making buying property 
                        span(class="text-primary dark:text-white") easy! 
                    p(class="mt-8 text-gray-700 dark:text-gray-300") Our customizable API help to save time and resources, allowing developers to build powerful applications quickly and efficiently.
                    div(class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6")
                        a(href="#" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max") 
                            span(class="relative text-base font-semibold text-white") Get Started 
                        a(href="#" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max") 
                            span(class="relative text-base font-semibold text-primary dark:text-white") Learn more
            

    section#about-us(class="relative lg:h-screen h-auto body-font text-gray-700 dark:text-white")
        .container.px-5.py-24.mx-auto 
            .text-center.mb-20
                h1.text-2xl.font-medium.text-center.title-font.mb-4(class='sm:text-3xl') Making it simple to identify investments
                p.text-base.leading-relaxed.mx-auto(class='xl:w-2/4 lg:w-3/4')
                    | Urban Insight Inc is the perfect option to help you achieve your goal and invest your money wisely.
            .flex.flex-wrap.-mx-2(class='lg:w-4/5 sm:mx-auto sm:mb-2')
                .p-2.w-full(class='sm:w-1/2')
                    .bg-gray-100.rounded.flex.p-4.h-full.items-center(class="dark:bg-gray-700")
                        svg.text-primary.w-6.h-6.flex-shrink-0.mr-4(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                            path(d='M22 11.08V12a10 10 0 11-5.93-9.14')
                            path(d='M22 4L12 14.01l-3-3')
                        span.title-font.font-medium Area Search
                .p-2.w-full(class='sm:w-1/2')
                    .bg-gray-100.rounded.flex.p-4.h-full.items-center(class="dark:bg-gray-700")
                        svg.text-primary.w-6.h-6.flex-shrink-0.mr-4(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                            path(d='M22 11.08V12a10 10 0 11-5.93-9.14')
                            path(d='M22 4L12 14.01l-3-3')
                        span.title-font.font-medium Property Analytics
                .p-2.w-full(class='sm:w-1/2')
                    .bg-gray-100.rounded.flex.p-4.h-full.items-center(class="dark:bg-gray-700")
                        svg.text-primary.w-6.h-6.flex-shrink-0.mr-4(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                            path(d='M22 11.08V12a10 10 0 11-5.93-9.14')
                            path(d='M22 4L12 14.01l-3-3')
                        span.title-font.font-medium Property Comparison

    section#pricing(class="relative lg:h-screen h-auto body-font text-gray-700 dark:text-white")
        .container.px-5.py-24.mx-auto
            .flex.flex-col.text-center.w-full.mb-20
                h1.text-3xl.font-medium.title-font.mb-2.text-white(class='sm:text-4xl') Pricing
                p.mx-auto.leading-relaxed.text-base(class='lg:w-2/3') Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical.
                //- .flex.mx-auto.border-2.border-blue-500.rounded.overflow-hidden.mt-6
                //-     button.py-1.px-4.bg-blue-500.text-white(class='focus:outline-none') Monthly
                //-     button.py-1.px-4.text-gray-300(class='focus:outline-none') Annually
            // Cards
            .flex.flex-wrap.-m-4
                .p-4.w-full(class='xl:w-1/3 md:w-1/2')
                    .h-full.p-6.rounded-lg.border-2.border-gray-700.flex.flex-col.relative.overflow-hidden
                        h2.text-sm.tracking-widest.text-gray-700.title-font.mb-1.font-medium(class="dark:text-gray-400") START
                        h1.text-5xl.text-black.pb-4.mb-4.border-b.border-gray-800.leading-none(class="dark:text-white") Free
                        p.flex.items-center.text-gray-400.mb-2
                            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-800.text-gray-500.rounded-full.flex-shrink-0
                                svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                                    path(d='M20 6L9 17l-5-5')
                            | 20 Property Searches per month
                        p.flex.items-center.text-gray-400.mb-2
                            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-800.text-gray-500.rounded-full.flex-shrink-0
                                svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                                    path(d='M20 6L9 17l-5-5')
                            | 10 Results Max per search
                        p.flex.items-center.text-gray-400.mb-2
                            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-800.text-gray-500.rounded-full.flex-shrink-0
                                svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                                    path(d='M20 6L9 17l-5-5')
                            | Property Comparison
                        button.flex.items-center.mt-auto.text-white.bg-gray-800.border-0.py-2.px-4.w-full.rounded(class='focus:outline-none hover:bg-gray-700')
                            | Button
                            svg.w-4.h-4.ml-auto(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
                                path(d='M5 12h14M12 5l7 7-7 7')
                        p.text-xs.text-gray-400.mt-3 Literally you probably haven&apos;t heard of them jean shorts.
                .p-4.w-full(class='xl:w-1/3 md:w-1/2')
                    .h-full.p-6.rounded-lg.border-2.border-primary.flex.flex-col.relative.overflow-hidden
                        span.bg-primary.text-white.px-3.py-1.tracking-widest.text-xs.absolute.right-0.top-0.rounded-bl POPULAR
                        h2.text-sm.tracking-widest.text-gray-700.title-font.mb-1.font-medium(class="dark:text-gray-400") PRO
                        h1.text-5xl.text-black.leading-none.flex.items-center.pb-4.mb-4.border-b.border-gray-800(class="dark:text-white")
                            span $150
                            span.text-lg.ml-1.font-normal.text-gray-400 /mo
                        p.flex.items-center.text-gray-400.mb-2
                            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-800.text-gray-500.rounded-full.flex-shrink-0
                                svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                                    path(d='M20 6L9 17l-5-5')
                            | 50 Property Searches per month
                        p.flex.items-center.text-gray-400.mb-2
                            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-800.text-gray-500.rounded-full.flex-shrink-0
                                svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                                    path(d='M20 6L9 17l-5-5')
                            | 25 Results Max per search
                        p.flex.items-center.text-gray-400.mb-2
                            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-800.text-gray-500.rounded-full.flex-shrink-0
                                svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                                    path(d='M20 6L9 17l-5-5')
                            | Property Comparison
                        p.flex.items-center.text-gray-400.mb-6
                            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-800.text-gray-500.rounded-full.flex-shrink-0
                                svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                                    path(d='M20 6L9 17l-5-5')
                            | Downloadable PDF
                        button.flex.items-center.mt-auto.text-white.bg-primary.border-0.py-2.px-4.w-full.rounded(class='focus:outline-none hover:bg-blue-600')
                            | Button
                            svg.w-4.h-4.ml-auto(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
                                path(d='M5 12h14M12 5l7 7-7 7')
                        p.text-xs.text-gray-400.mt-3 Literally you probably haven&apos;t heard of them jean shorts.
                .p-4.w-full(class='xl:w-1/3 md:w-1/2')
                    .h-full.p-6.rounded-lg.border-2.border-gray-700.flex.flex-col.relative.overflow-hidden
                        h2.text-sm.tracking-widest.text-gray-700.title-font.mb-1.font-medium(class="dark:text-gray-400") BUSINESS
                        h1.text-5xl.text-black.leading-none.flex.items-center.pb-4.mb-4.border-b.border-gray-800(class="dark:text-white")
                            span $350
                            span.text-lg.ml-1.font-normal.text-gray-400 /mo
                        p.flex.items-center.text-gray-400.mb-2
                            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-800.text-gray-500.rounded-full.flex-shrink-0
                                svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                                    path(d='M20 6L9 17l-5-5')
                            | 100 Property Searches per month
                        p.flex.items-center.text-gray-400.mb-2
                            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-800.text-gray-500.rounded-full.flex-shrink-0
                                svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                                    path(d='M20 6L9 17l-5-5')
                            | Unlimited Results Max per search
                        p.flex.items-center.text-gray-400.mb-2
                            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-800.text-gray-500.rounded-full.flex-shrink-0
                                svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                                    path(d='M20 6L9 17l-5-5')
                            | Property Comparison
                        p.flex.items-center.text-gray-400.mb-6
                            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-800.text-gray-500.rounded-full.flex-shrink-0
                                svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                                    path(d='M20 6L9 17l-5-5')
                            | Downloadable PDF
                        button.flex.items-center.mt-auto.text-white.bg-gray-800.border-0.py-2.px-4.w-full.rounded(class='focus:outline-none hover:bg-gray-700')
                            | Button
                            svg.w-4.h-4.ml-auto(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
                                path(d='M5 12h14M12 5l7 7-7 7')
                        p.text-xs.text-gray-400.mt-3 Literally you probably haven&apos;t heard of them jean shorts.


    section#contact-us(class="relative lg:h-screen h-auto body-font text-gray-700 dark:text-white")
        .container(class="px-5 py-24 mx-auto flex sm:flex-nowrap flex-wrap")
            .map-container(class="lg:w-2/3 md:w-1/2 bg-gray-300 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative")
                iframe.absolute.inset-0(width="100%", height="100%", frameborder="0", title="map", marginheight="0", marginwidth="0", scrolling="no" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d74962.69416406046!2d-118.02011061897146!3d33.866098504001144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1678709821580!5m2!1sen!2sus", style="filter: grayscale(1) contrast(1.2) opacity(0.4);") 
                .company-info.bg-white.relative.flex.flex-wrap.py-6.rounded.shadow-md(class="dark:bg-gray-400")
                    .company-address(class="lg:w-1/2 px-6")
                        h2.title-font.font-semibold.text-gray-900.tracking-widest.text-xs Address
                        p.mt-1 Dallas, Texas
                    .company-email-phone(class="lg:w-1/2 px-6 mt-4 lg:mt-0")
                        h2.title-font.font-semibold.text-gray-900.tracking-widest.text-xs Email
                        a.text-primary.leading-relaxed(href="#") contact@urbaninsightinc.com 
                        h2.title-font.font-semibold.text-gray-900.tracking-widest.text-xs.mt-4 Phone
                        p.leading-relaxed 123-456-7890

            .contact-container(class="group p-6 mt-4 sm:mt-0 sm:p-8 md:w-1/2 w-full rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10")
                h2(class="text-2xl font-semibold text-gray-800 dark:text-white") Contact Us
                form.form--contact
                    .form__group.relative.mb-4
                        label.form__label(for='name' class="mt-6 mb-8 text-gray-600 dark:text-gray-300") Full Name
                        input#name.form__input(class="relative bg-white m-0 -mr-0.5 block w-full min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-gray-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-gray-200 dark:focus:border-primary" type='text', placeholder='Full Name', required)
                    .form__group.relative.mb-4
                        label.form__label(for='email' class="mt-6 mb-8 text-gray-600 dark:text-gray-300") Email address
                        input#email.form__input(class="relative bg-white m-0 -mr-0.5 block w-full min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-gray-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-gray-200 dark:focus:border-primary" type='email', placeholder='you@example.com', required)
                    .form__group.relative.mb-4
                        label.form__label(for='phone' class="mt-6 mb-8 text-gray-600 dark:text-gray-300") Phone Number
                        input#phone.form__input(class="relative bg-white m-0 -mr-0.5 block w-full min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-gray-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-gray-200 dark:focus:border-primary" type='phone', placeholder='555-555-5555' required)
                    .form__group.relative.mb-4
                        label.form__label(for='message' class="mt-6 mb-8 text-gray-600 dark:text-gray-300") Subject
                        textarea#message.form__input(class="relative resize-none bg-white m-0 -mr-0.5 block w-full min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent h-32 bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-gray-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-gray-200 dark:focus:border-primary" placeholder='Message') 
                    .form__group
                        button(class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95") 
                            span(class="relative text-base font-semibold text-white") Send Message
            
                    