:root {
    --section-rotate: 9vw;
  
    --color-white: #FFFFFF;
    --color-shearwater-black: #5B5B6C;
    --color-gray: #777777;
    --color-cultured-gray: #F7F7F7;
    --color-metallic-silver: #A6A5B1;
    --color-light-gray: #DADADA;
    --color-dark-gray: #484848;
    --color-orange: #FF7730;
    --color-copper-red: #C56B55;
    --color-medium-carmine: #AC3E31;
    --color-toolbox-blue: #727CB9;
    --color-jelly-bean-blue: #488A99;
    --color-dark-cornflower-blue: #1C4E80;
    --color-indigo-dye: #14248A;
    --color-bright-gray: #E8EDF2;
    --color-maximum-blue: #55AFC5;
    --color-yankees-blue: #20283E;
    --color-pale-violet: #C388F6;
    --color-violets-are-blue: #8C88F6;
    --color-sunray: #DBAE58;
    --color-mac-and-cheese: #F6C388;
    --color-june-bud:#C7DB58;
    --color-green: #20BF6B;
    --color-jungle-green: #28B487;
    --color-terra-cotta:#DB6D58;
    --color-blush: #DB5885;
    --color-pale-lavender: #E7CFFB;
    --color-lavender-blue: #D1CFFB;
    --color-champagne: #FBE7CF;
    --color-carmine-pink: #EB4D4B;
    --color-light-fuchsia: #F688F2;
    --color-deep-fuchsia: #DB58C7;
    --color-red: #E61A1A;
  
    --color-background: var(--color-cultured-gray);
    --color-dash-background: var(--color-bright-gray);
}


.light {
    --color-background: var(--color-cultured-gray);
    --color-secondary-background: var(--color-shearwater-black);

    --color-title-text: var(--color-shearwater-black);
    --color-secondary-title-text: var(--color-cultured-gray);
    --color-text: var(--color-dark-gray);
    --color-secondary-text: var(--color-white);

    --color-textfield: #BBB;
    
    --color-hover-btn: var(--color-shearwater-black);
    --color-btn-text: var(--color-white);
    --color-btn-bg: var(--color-jelly-bean-blue);
    --color-toggle-btn-bg: var(--color-yankees-blue);
}

.dark {
    --color-background: var(--color-shearwater-black);
    --color-secondary-background: var(--color-cultured-gray);

    --color-title-text: var(--color-cultured-gray);
    --color-secondary-title-text: var(--color-shearwater-black);
    --color-text: var(--color-white);
    --color-secondary-text: var(--color-dark-gray);
    
    --color-textfield: #BBB;

    --color-hover-btn: var(--color-cultured-gray);
    --color-btn-text: var(--color-dark-gray);
    --color-btn-bg: var(--color-jelly-bean-blue);
    --color-toggle-btn-bg: var(--color-yankees-blue);
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* * {
    @apply bg-primary text-white;
} */

header nav {
    margin-left: auto;
}

header nav li:hover {
    color: var(--color-metallic-silver);
}

header nav .user-icon {
    width: 39px;
    height: 39px;
    background: black;
}

.toggle-btn {
    display: inline-block;
    border: none;
    background: var(--color-toggle-btn-bg);
    outline: none;
    cursor: pointer;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    font-size: 1.1rem;
    transition: 0.3s;
    margin-left: 4.5rem
}

.toggle-btn i {
    font-size: 1.4rem;
    line-height: 39px;
    color: var(--color-secondary-title-text);
}

.toggle-btn i.hidden {
    display: none;
}

.toggle-btn:focus {
    outline: none
}

.toggle-btn:hover {
    background: var(--color-dark-gray)
}

.copy {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    animation: appear 1s 1 both;
}

@keyframes appear {
    0%{
        clip-path: circle(30% at -25% -25%);
    }
    100% {
        clip-path: circle(150% at 0 0);
    }
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.form__input:hover {
    border: #FACF85;
    box-shadow: #FACF85;
}

.form__input:focus {
    border: #F8BB54;
    box-shadow: #F8BB54;
}

#hero-section .container .right {
    width: 83.333333%;
}

#hero-section .hero-btn:hover {
    background: #FBD89D;
}


#home-table thead th {
    cursor: pointer;
}

#home-table tbody td {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#home-table tbody .dotted-cell {
    position: relative;
    padding-left: 2rem;
}

#home-table tbody .dotted-cell::before {
    content: "";
    display: block;
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
}

#home-table tbody .dotted-cell.percentile25th::before,
#home-table tbody .dotted-cell.percentile75th::before
{
    background-color: var(--color-red);
}

#home-table tbody .dotted-cell.percentile50th::before
{
    background-color: var(--color-green);
}


.light .btn {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: #FBD89D;
    border: 1px solid #FBD89D;
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: .875rem;
    line-height: 1.25rem;
    text-transform: none;
     /* font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800 */
}


.light .btn:hover {
    background: #FBD89D;
    color: var(--color-white);
}

.light .btn:focus {
    border: 1px solid #FBD89D;
    outline: none;
}

.light .btn-solid {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background: #FBD89D;
    color: var(--color-white);
    /* border: 1px solid #FBD89D; */
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: .875rem;
    line-height: 1.25rem;
    text-transform: none;
}

.light .btn-solid:hover {
    color: #FBD89D;
    background: var(--color-white);
}

@media only screen and (max-width: 640px) {
    .sm-flex {
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
    }
    .sm-mr-10 {
        margin-right: 2.5rem;
    }
    .sm-m-4 {
        margin: -1rem;
    }

}

@media only screen and (min-width: 768px) {
    header .container {
        flex-direction: row;
    }

    #hero-section .container {
        flex-direction: row
    }

    #hero-section .container .left {
        width: 50%;
        text-align: left;
        padding-right: 4rem;
        margin-bottom: 0;
        align-items: flex-start;
    }

    #hero-section .container .right {
        width: 50%;
    }

    #about-us .brand-info .brand-info {
        width: 33.333333%;
    }

    .md-ml-auto {
        margin-left: auto;
    }

    .md-w-1-3 {
        width: 33.333333%;
    }

    .md-w-1-2 {
        width: 50%;
    }

    .md-py-8 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .md-mt-0 {
        margin-top: 0;
    }
}

@media only screen and (min-width: 976px) { 
    #hero-section .container .left {
        flex-grow: 1;
        padding-right: 6rem; 
    }

    #hero-section .container .right {
        width: 100%;
        max-width: 32rem;
    }

    .lg-w-1-3 {
        width: 33.333333%;
    }

    .lg-w-2-3 {
        width: 66.6666666%;
    }

    .lg-w-1-2 {
        width: 50%;
    }

    .lg-mt-0 {
        margin-top: 0;
    }
}

.footer {
    background-color: #ffffff;
    padding: 6rem 4rem 3rem 4rem;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 0.75rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  @media only screen and (max-width: 50em) {
    .footer {
      grid-template-columns: 1fr;
      grid-row-gap: 1.25rem;
      justify-items: center;
    }
  }
  .footer__logo {
    grid-row: 1 / 3;
    -ms-flex-item-align: center;
    align-self: center;
  }
  @media only screen and (max-width: 50em) {
    .footer__logo {
      grid-row: 1;
    }
    .footer__copyright {
        justify-self: center;
      }
  }
  .footer__logo img {
    height: 3rem;
  }
  .footer__nav {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
  }
  .footer__nav li {
    margin-left: 1.5rem;
  }
  .footer__nav a {
    color: #777;
    text-decoration: none !important;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .footer__nav a:hover,
  .footer__nav a:active {
    color: #14248A;
  }
  .footer__copyright {
    justify-self: end;
    color: #999;
  }