extends ../base

block content
    .container.dash-container.mx-auto.body-font.px-5.py-24
        .spinner-overlay
            .spinner
        h1 Dashboard
        .mls-form(class="responsive-margins-images md-6 sm:flex lg:items-center justify-between")
            form.form--mls(class="lg:w-1/2 sm:w-full mr-6")
                .form__group.relative.my-4.flex
                    input#mls-input(class="relative m-0 -mr-0.5 w-full block rounded-l border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary" type='text', placeholder='Zip Code or City, State', required)
                    button(class="relative z-[2] flex items-center rounded-r bg-primary px-6 py-2.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg") 
                        span(class="relative text-base font-semibold text-white") Search
            a#download-pdf(href="#" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max") 
                span(class="relative text-base font-semibold text-primary dark:text-white") Download PDF
            
        #search-results.results(class="hidden sm:overflow-scroll lg:overflow-hidden mt-6")
            .title.mb-10.text-lg 
                h2 Search: 
                    span.term 90712
            table#home-table.min-w-full.text-sm.text-left
                thead.text-md.text-main-700.uppercase.bg-main-50 
                    tr 
                        th.px-6.py-3 ZPID 
                        th.px-6.py-3 Address
                        th.px-6.py-3 Beds 
                        th.px-6.py-3 Baths
                        th.px-6.py-3 Price 
                        th.px-6.py-3 Percentile 
                        th.px-6.py-3 Availability
                tbody
                    // table rows will be updated dynamically