/* https://codepen.io/alico/pen/bpLgOL */

#properties-header {
    display: flex;
    justify-content: space-between;
}

#properties-header .comp {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#properties-header .comp #comp-heading {
    font-weight: 400;
}

#properties-header .comp .percentile {
    height: 20px;  
    margin-bottom: 5px;
}

#properties-header .comp .percentile .percentile-span {
    margin-right: 10px;
    position: absolute;
    left: 0;
}

/* #properties-header .comp .percentile .percentile-span::after {
    position: absolute;
    right: 0;
} */

#properties-header .comp .percentile-text {
    position: absolute;
    right: 0;
}

#properties-header .comp .percentile .percentile-text::before{
    content: '$ ';
}

#property-list {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

table * {
    position: relative; 
}

#property-list #property-list-header tr {
    height: 60px;
    background: #FFED86;
    font-size: 16px;
}

table td, table th {
    /* text-align: left; */
    padding-left: 8px;
}

table td a {
    color: #000;
    text-decoration: solid;
}

table tbody {
    background-color: #8f8f8f8f;
}


table tbody .property {
    height: 48px;
    border-bottom: 1px solid #E3F1D5;
}

table tbody .property.above-50 {
    background-color: #f6d1003e;
}

table tbody .property.above-75 {
    background-color: #00f63549;
}

.tooltip {
    position:relative;
    text-align:left;
}

.tooltip h3 {margin:12px 0;}

.tooltip .top {
    min-width:200px;
    max-width:400px;
    top:-20px;
    left:50%;
    transform:translate(-30%,-100%);
    padding:10px 20px;
    color:#ffffff;
    background-color:#009cdc;
    font-weight:normal;
    font-size:14px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip .bottom {
    min-width:200px;
    /*max-width:400px;*/
    top:55px;
    left:20%;
    transform:translate(-50%, 0);
    padding:20px;
    color:#666666;
    background-color:#009cdc;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}


.tooltip:hover .top {
    display:block;
}

.tooltip .top i {
    position:absolute;
    top:100%;
    left:30%;
    margin-left:-15px;
    width:30px;
    height:15px;
    overflow:hidden;
}

.tooltip .top i::after {
    content:'';
    position:absolute;
    width:15px;
    height:15px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#009cdc;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.tooltip:hover .bottom {
    display:block;
}

.tooltip .bottom img {
    width:400px;
}

.tooltip .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#009cdc;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.tooltip .bottom p {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 10px;
}

