extends ../base

block content
  div
    .mx-auto.px-4.pt-56(class='sm:px-12 xl:max-w-6xl xl:px-0')
      .relative.z-10(class='lg:w-2/3')
        .flex.flex-col
          span.bg-gradient-to-b.from-orange-400.to-secondary.bg-clip-text.font-mono.text-5xl.font-bold.text-transparent(class='sm:text-6xl lg:text-8xl')  404 
          h1.mb-20.mt-12.text-4xl.font-bold.text-gray-700(class='dark:text-white md:text-5xl') This is not the page you were looking for. . .
          a.relative.flex.h-9.w-max.items-center.justify-center.px-4(href='/' class='before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition-transform before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-primaryLight lg:before:border lg:before:border-gray-200 lg:before:bg-gray-100 lg:dark:before:bg-gray-800')
            span.relative.text-sm.font-semibold.text-white(class='dark:text-gray-900 lg:text-primary lg:dark:text-white') Go back home
